/.web-server-pid
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
junit.xml

# configuration
/app/config/parameters.yml

# assets
/web/bundles/

# vendors
/vendor/

# docker
/docker/postgres/data
/docker/*.env

# IDE / text editor
nbproject
.idea
/.settings/
/.buildpath
/.project
*~
